@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* .blurred-img img {
  opacity: 0;
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img {
  filter: blur(10px);
}
.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: white;
}

@layer components {
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
  .blurred-img {
    @apply relative bg-no-repeat bg-cover;
  }

  .blurred-img::before {
    @apply content-[''] absolute inset-0 opacity-0 animation-pulse bg-text-color;
  }

  .blurred-img.loaded::before {
    @apply animation-none content-none;
  }

  .blurred-img img {
    @apply transition-opacity ease-in-out opacity-0 duration-250;
  }

  .blurred-img.loaded img {
    @apply opacity-100;
  }
} */
